.wrapper {
    position: relative;
  }
  
  .box1 {
    position: relative;
    z-index: 1;
    border: solid;
    height: 100px;
    margin: 50px;
  }
  
  .box2 {
    position: absolute;
    z-index: 2;
    background: pink;
    width: 20%;
    left: 65%;
    top: -25px;
    height: 120px;
    opacity: 0.9;
  }
  
  .box3 {
    position: absolute;
    z-index: 3;
    background: cyan;
    width: 70%;
    left: 40px;
    top: 60px;
  }

  p.test1 {
    writing-mode: horizontal-tb;
  }
  
  p.test2 {
    writing-mode: vertical-rl;
  }
  
  span.test2 {
    writing-mode: vertical-rl;
  }

  p {
    word-spacing: 30px;
  }

  

  @keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
  }

 
h2:after {
  content: ' \00A7';
}
div {
    background-color: yellow;
    color: red;
    all: initial;
  }

  div {
    background-image: url('w3css.gif');
    background-repeat: no-repeat;
    background-position-y: center;
  }

  h1 {
    border: 5px solid red;
  }
  
  h2 {
    border: 4px dotted blue;
  }
  
  div {
    border: double;
  }

  @media print {
    footer {
      break-after: always;
    }
  }
  
  img {
    clip-path: circle(50%);
  }

  @counter-style crown {
    system: cyclic;
    symbols: "\1F451";
    suffix: " ";
  }
  
  ul {
    list-style: crown;
  }

  #main div {
    flex: 1;
  }

  div {
    display: flex;
    flex-direction: row-reverse;
  }

  @font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }

  @font-palette-values --greenAndYellow {
    font-family: "Bungee Spice";
    override-colors: 0 yellow, 1 green;
  }
  
  @font-palette-values --pinkAndGray {
    font-family: "Bungee Spice";
    override-colors: 0 hotpink, 1 gray;
  }
  
  .alt1 {
    font-palette: --greenAndYellow;
  }
  
  .alt2 {
    font-palette: --pinkAndGray;
  }

  .grid-container {
    gap: 50px;
  }

  .item1 {
    grid-area: 2 / 1 / span 2 / span 3;
  }

  /* layer 1 */
@layer {
  body {
    background: pink;
  }
}

/* layer 2 */
@layer {
  body {
    background: lightblue; /* last layer wins */
  }
}

div.a {
  line-height: normal;
}

div.b {
  line-height: 1.6;
}

div.c {
  line-height: 80%;
}

div.d {
  line-height: 200%;
}

#test {
  marker-mid: url(#circle);
}

#test {
  marker-start: url(#arrow);
}

body {
  background-color: lightblue;
}

@media screen and (min-width: 400px) {
  body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: lavender;
  }
}

img {
  offset-path: path('M 50 80 C 150 -20 250 180 350 80');
  offset-anchor: right center;
}

@media print {
  orphans: 4;
  widows: 2;
}